#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.CC_card{
  border-radius: 5px;
  border: 1px solid red;
  padding: 30px;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.convert_swap{
  display: flex;
  gap: 10px;
}